/*-----------------------------------*\
    #style.css
\*-----------------------------------*/




/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --international-orange-engineering: hsl(1, 91%, 37%);
    --cadet-blue-creyola: hsl(222, 14%, 69%);
    --oxford-blue-1: hsl(222, 47%, 15%);
    --oxford-blue-2: hsl(222, 44%, 14%);
    --oxford-blue-3: hsl(222, 50%, 11%);
    --sonic-silver: hsl(0, 0%, 44%);
    --space-cadet: hsl(222, 44%, 18%);
    --pastel-pink: hsl(1, 53%, 75%);
    --eerie-black: hsl(0, 0%, 15%);
    --light-gray: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);

    --ff-chakra-petch: 'Chakra Petch', sans-serif;
    --ff-mulish: 'Mulish', sans-serif;

    --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-family: var(--ff-mulish);
    color: var(--sonic-silver);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--eerie-black);

    height: 1800vh;
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/

.container{
    padding-inline: 1rem;
}
.material-symbols-rounded{
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0,"opsz" 40;
    font-size: 1em;
    width: 1em;
    overflow: hidden;
}
.has-bg-image{
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.section_subtitle{
    max-width: max-content;
    font-family: var(--ff-chakra-petch);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: 12px;
    margin-inline: auto ;
}
.section_subtitle::before{
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1.7rem;
    margin-block-end: -2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section_subtitle.\:dark{
    color: var(--white);
}
.section_subtitle.\:dark::before{
    background-image: url("../images/text-bars-light.png");
}
.section_subtitle.\:light{
    color: var(--international-orange-engineering);
}
.section_subtitle.\:light::before{
    background-image: url("../images/text-bars-dark.png");
}
.section_title{
    text-align: center;
}
h1,
h2,
h3{
    font-family: var(--ff-chakra-petch);
    font-weight: 700;
    text-transform: uppercase;
}

h1{
    font-size: 3rem;
    color: var(--white);
    line-height: 1.1;
    letter-spacing: 1px;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.8rem;
}
section{
    padding-top: 4rem;
}

.btn{
    background: var(--international-orange-engineering);
    color: #fff;
    width: fit-content;
    font-family: var(--ff-chakra-petch);
    font-weight: 600;
    padding:  1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    border: solid transparent 1px;
    transition: .5s;
    will-change: transform;
}
.btn:is(:hover,:focus-visible){
    background: var(--oxford-blue-3);
    border-color: #fff;
}
.btn_link{
    font-family: var(--ff-chakra-petch);
    text-transform: uppercase;
    color: var(--international-orange-engineering);
    font-weight: 700;
}

.move_anim{
    animation: moving 2s ease-in-out infinite alternate;
}

@keyframes moving{
    0%{
        transform:translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}

/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header .btn{
    display: none;
}

.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 1rem;
    padding-inline: 2.4rem;
    z-index: 400;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 5rem;
}
.logo img{
    width: 100px;
}

.navbar{
    position: absolute;
    top: 100px;
    right: 30px;
    background-color: var(--international-orange-engineering);
    min-width: max-content;
    padding: 1rem;
    width: 30%;

    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: .3s var(--cubic-out);
    z-index: 200;
    text-align: center;
}
.navbar.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .8s;
}

.navbar_link{
    font-family: var(--ff-chakra-petch);
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white);
    padding: .8rem 0;
    transition: all .5s ease;
}
.navbar_link:is(:hover,:focus-visible){
    background: var(--white);
    color: var(--international-orange-engineering);
}

.nav_toggle_icon{
    background: var(--white);
    width: 30px;
    height: 2px;
    transition: all .4s ease;
    margin: 0;
}
.nav_toggle_btn{
    height: 22px;
    width: 30px;
    position: relative;
}
.nav_toggle_icon:not(:last-child){
    margin-block-end: 7px;
}
.nav_toggle_btn.active .icon_2{
    opacity: 0;
    transform: translateX(-10px);
}
.nav_toggle_btn.active .icon_1{
    transform: rotate(-40deg);
    position: absolute;
    top: 10px;
}
.nav_toggle_btn.active .icon_3{
    transform: rotate(40deg) ;
    position: absolute;
    top: 10px; ;
}



/*-----------------------------------*\
    #HERO
\*-----------------------------------*/

.hero{
    position: relative;
    padding-block-start: 130px ;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}
.hero .container{
    display: grid;
    gap: 30px;
}
.hero .section_subtitle{
    text-transform: unset;
}
.hero .section_txt{
    color: var(--white);
    margin-block: 14px 18px;
}

.hero .btn{
    margin-inline: auto;
}
.hero_banner{
    aspect-ratio: 1228/789;
}
.hero_banner img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    z-index: -10;
}


/*-----------------------------------*\
    #SERVICE
\*-----------------------------------*/

.service_banner{
    display: none;
}
.service{
    text-align: center;
}
.service_list{
    gap: 0;
    margin-bottom: 20px;
}

.service_card .card_icon{
    max-width: max-content;
    margin-inline: auto;
    margin-bottom: 20px;
}
.service_card .card_txt{
    line-height: 1.2;
    margin:8px 0 ;
}
.service .btn{
    margin : auto;
}

/*-----------------------------------*\
    #ABOUT
\*-----------------------------------*/





/*-----------------------------------*\
    #WORK
\*-----------------------------------*/





/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/