/*-----------------------------------*\
    #style.css
\*-----------------------------------*/




/*-----------------------------------*\
    #CUSTOM PROPERTY
\*-----------------------------------*/

:root{
    --international-orange-engineering: hsl(1, 91%, 37%);
    --cadet-blue-creyola: hsl(222, 14%, 69%);
    --oxford-blue-1: hsl(222, 47%, 15%);
    --oxford-blue-2: hsl(222, 44%, 14%);
    --oxford-blue-3: hsl(222, 50%, 11%);
    --sonic-silver: hsl(0, 0%, 44%);
    --space-cadet: hsl(222, 44%, 18%);
    --pastel-pink: hsl(1, 53%, 75%);
    --eerie-black: hsl(0, 0%, 15%);
    --light-gray: hsl(0, 0%, 80%);
    --white: hsl(0, 0%, 100%);

    --ff-chakra-petch: 'Chakra Petch', sans-serif;
    --ff-mulish: 'Mulish', sans-serif;

    --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}



/*-----------------------------------*\
    #RESET
\*-----------------------------------*/

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a,img,span,button{
    display: block;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    height: auto;
}
button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-family: var(--ff-mulish);
    color: var(--sonic-silver);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--eerie-black);
}

:focus-visible{
    outline-offset: 4px;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
}



.img_holder{
    aspect-ratio: 350/406;
    background: var(--light-gray);
    overflow: hidden;
}
.img_cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.has_scrollbar{
    display: flex;
    align-items: center;
    gap: 1.8rem;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding: 1.2rem 0;
    cursor: pointer;
}
.scrollbar_item{
    min-width: 100%;
    scroll-snap-align: start;
}
.has_scrollbar::-webkit-scrollbar{
    height: 1.5rem;
}
.has_scrollbar::-webkit-scrollbar-track{
    background-color: var(--pastel-pink);
    border-radius:1.3rem ;
    
}
.has_scrollbar::-webkit-scrollbar-thumb{
    background-color: var(--international-orange-engineering);
    border-radius: 1.2rem;
    border: 3px solid var(--pastel-pink);
    
}
.has_scrollbar::-webkit-scrollbar-button{
    width: 30%;
}
/*-----------------------------------*\
    #REUSED STYLE
\*-----------------------------------*/

.container{
    padding-inline: 1rem;
    padding: 0 2rem;
}
.material-symbols-rounded{
    /* font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0,"opsz" 40; */
    font-size: 1em;
    width: 1em;
    overflow: hidden;
}
.has-bg-image{
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.section_subtitle{
    max-width: max-content;
    font-family: var(--ff-chakra-petch);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-block-end: 12px;
    margin-inline: auto ;
}
.section_subtitle::before{
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1.7rem;
    margin-block-end: -2px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section_subtitle.\:dark{
    color: var(--white);
}
.section_subtitle.\:dark::before{
    background-image: url("../images/text-bars-light.png");
}
.section_subtitle.\:light{
    color: var(--international-orange-engineering);
}
.section_subtitle.\:light::before{
    background-image: url("../images/text-bars-dark.png");
}
.section_title{
    text-align: center;
}
h1,
h2,
h3{
    font-family: var(--ff-chakra-petch);
    font-weight: 700;
    text-transform: uppercase;
}

h1{
    font-size: 3rem;
    color: var(--white);
    line-height: 1.1;
    letter-spacing: 1px;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.8rem;
}
section{
    padding-top: 4rem;
}

.w-100{
    width: 100%;
}
.btn{
    background: var(--international-orange-engineering);
    color: #fff;
    width: fit-content;
    font-family: var(--ff-chakra-petch);
    font-weight: 600;
    padding:  1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    border: solid transparent 1px;
    transition: .5s;
    will-change: transform;
}
.btn:is(:hover,:focus-visible){
    background: var(--oxford-blue-3);
    border-color: #fff;
}
.btn_link{
    font-family: var(--ff-chakra-petch);
    text-transform: uppercase;
    color: var(--international-orange-engineering);
    font-weight: 700;
}

.move_anim{
    animation: moving 2s ease-in-out infinite alternate;
}

@keyframes moving{
    0%{
        transform:translateY(0);
    }
    100%{
        transform: translateY(15px);
    }
}

/*-----------------------------------*\
    #HEADER
\*-----------------------------------*/

.header .btn{
    display: none;
}

.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 1rem;
    padding-inline: 2.4rem;
    z-index: 400;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 5rem;
}
.logo img{
    width: 100px;
}

.navbar{
    position: absolute;
    top: 100px;
    right: 30px;
    background-color: var(--international-orange-engineering);
    min-width: max-content;
    padding: 1rem;
    width: 30%;

    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: .3s var(--cubic-out);
    z-index: 200;
    text-align: center;
}
.navbar.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .9s;
}

.navbar_link{
    font-family: var(--ff-chakra-petch);
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white);
    padding: 1rem .5rem;
    transition: all .5s ease;
}
.navbar_link:is(:hover,:focus-visible){
    background: var(--white);
    color: var(--international-orange-engineering);
}



.nav_toggle_icon{
    background: var(--white);
    width: 30px;
    height: 2px;
    transition: all .4s ease;
    margin: 0;
}
.nav_toggle_btn{
    height: 22px;
    width: 30px;
    position: relative;
}
.nav_toggle_icon:not(:last-child){
    margin-block-end: 7px;
}
.nav_toggle_btn.active .icon_2{
    opacity: 0;
    transform: translateX(-10px);
}
.nav_toggle_btn.active .icon_1{
    transform: rotate(-40deg);
    position: absolute;
    top: 10px;
}
.nav_toggle_btn.active .icon_3{
    transform: rotate(40deg) ;
    position: absolute;
    top: 10px; 
}



/*-----------------------------------*\
    #HERO
\*-----------------------------------*/

.hero{
    position: relative;
    padding-block-start: 130px ;
    text-align: center;
    z-index: 100;
    overflow: hidden;
}
.hero .container{
    display: grid;
    gap: 30px;
}
.hero .section_subtitle{
    text-transform: unset;
}
.hero .section_txt{
    color: var(--white);
    margin-block: 14px 18px;
}

.hero .btn{
    margin-inline: auto;
}
.hero_banner{
    aspect-ratio: 1228/789;
}
.hero_banner img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    z-index: -10;
}


/*-----------------------------------*\
    #SERVICE
\*-----------------------------------*/

.service_banner{
    display: none;
}
.service{
    text-align: center;
    padding-bottom: 3rem;
}
.service_list{
    gap: 0;
    margin-bottom: 20px;
}

.service_card .card_icon{
    max-width: max-content;
    margin-inline: auto;
    margin-bottom: 20px;
}
.service_card .card_txt{
    line-height: 1.2;
    margin:8px 0 ;
}
.service .btn{
    margin : auto;
}

/*-----------------------------------*\
    #ABOUT
\*-----------------------------------*/

.about{
    background: var(--space-cadet);
    color: #fff;
    text-align: center;
    padding-bottom: 2.5rem;
}
.about .container{
    display: grid;
    gap: 3rem;
}
.about .section_title{
    color: #fff;
}
.about .section_txt:nth-child(3){
    margin: 12px 0 8px 0;
}
.about_list{
    display: grid;
    gap: 1.7rem;
    margin-top: 1.48rem;
}
.about_item{
    background: var(--oxford-blue-2);
    padding: 3rem 1.1rem;
    transition: all .5s ease;
    margin-bottom: .5rem; 
}
.about_item:hover{
    background: var(--international-orange-engineering);
    transform: translateY(-8px);
}
.about_item .strong{
    display: block;
    font-family: var(--ff-chakra-petch);
    font-size: 3.5rem;
    line-height: 1.1;
}
/*-----------------------------------*\
    #WORK
\*-----------------------------------*/
.work{
    padding-bottom: 3rem;
}
.work .container{
    padding-inline: 0;
    padding: 0 2rem;
}
.work .section_title{
    margin: 24px 0;
}
.work_card{
    position: relative;
}
.work_card .card_content{
    width: fit-content;
    background-color: var(--white);
    max-width: 90%;
    padding: 2rem 4rem;
    margin: 0 auto;
    margin-top: -60px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 12px 1px rgba(240,31,31,1);
}

.work_card .card_subtitle{
    font-family: var(--ff-chakra-petch);
    text-transform: uppercase;
    color: var(--international-orange-engineering);
    font-weight: 700;
    margin: 5px 0;
}
.work_card .card_title{
    margin: 10px 0;
}
.work_card .card_btn{
    background: var(--international-orange-engineering);
    color: #fff;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    display: grid;
    margin: 0 auto;
    place-items: center;
    border-radius: 50%;
}



/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/

.footer{
    color: var(--cadet-blue-creyola);
}
.footer .shape{
    display: none;
}
.footer_top{
    background-color: var(--space-cadet);
    padding: 3rem 0;
}
.footer .container{
    display: grid;
    gap: 3rem;
}
.footer_text{
    margin: 1rem 1.2rem;
}

.social_list{
    display: flex;
    gap: 8px;
}
.social_link{
    background-color: var(--oxford-blue-3);
    padding: 14px;
    border-radius: 50%;
    transition: transform .2s ease;
}
.social_link:is(:hover, :focus-visible){
    background-color: var(--international-orange-engineering);
    transform: translateY(-5px);
}
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 8px    ;
}
.footer_list h3{
    color: var(--white);
    margin: 1rem 0;
}
.footer_list p{
    color: #fff;
    font-weight: 400;
    margin: 7px 0;
}
.footer_link{
    display: flex;
    align-items: center;
    gap: 1rem   ;
}
.footer_link:is(:hover,:focus-visible){
    color: var(--international-orange-engineering);
}
.footer_link .material-symbols-rounded{
    flex-shrink: 0;
    font-size: 18px;
    color: var(--international-orange-engineering);
}

.footer_bottom{
    background: var(--oxford-blue-1);
    padding: 20px 0;
}

.footer .copyright{
    padding:  1rem;
    text-align: center;
    font-size: 1.3rem;
}

/*-----------------------------------*\
    #MEDIA QUERIES
\*-----------------------------------*/


@media (min-width: 575px){

    .container{
        max-width: 540px;
        width: 100%;
        margin-inline:auto ;
    }
    .section_subtitle{
        font-size: 1.6rem;
    }
    h2{
        font-weight: 700;
    }
    .hero .container{
        max-width: 520px;
        margin-inline: auto;
    }

    .hero .section_txt{
        font-size: 1.8rem;
    }
}